<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>修改个人信息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 引入 Bootstrap -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le styles -->
		<link href="../../static/assets/css/bootstrap.css" rel="stylesheet">
		<link href="../../static/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="../../static/assets/css/style.css" rel="stylesheet">
		<link href="../../static/assets/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../static/assets/css/social.css" rel="stylesheet">
		<link href="../../static/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
		<link href="../../static/assets/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
		<link href="../../static/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
		<link href="../../static/assets/css/style.css" rel="stylesheet" id="colors"
	</head>

	<body>

		<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- 包括所有已编译的插件 -->
		<script src="../../static/js/bootstrap.min.js"></script>

		<!-- Navigation Bar -->
		<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">修改个人信息</a>
				</div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">
								<span class="glyphicon glyphicon-home">首页</span>
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li><a href="#"><span class="glyphicon glyphicon-shopping-cart">充值</span></a></li>
						<li><a href="#"><span class="glyphicon glyphicon-headphones">帮助</span></a></li>
					</ul>
			        <form class="navbar-form navbar-left">
			         	<div class="form-group">
							<input type="text" class="form-control" placeholder="今天你脱发了吗？">
			        	</div>
			        	<button type="submit" class="btn btn-default">提问</button>
			        </form>
			    </div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


		<div class="container bs-docs-container">
			        <div class='panel panel-default'>
          <div class='panel-heading'>
            <i class='icon-edit icon-large'></i>
            Form
          </div>
          <div class='panel-body'>
            <form method="POST" action="{% url 'changeinfor' %}">
                {% csrf_token %}
              <fieldset>
                <legend>修改个人信息</legend>
                <div class='form-group'>
                  <label class='control-label'>个性签名</label>
                  <textarea class='form-control' name="signature" rows='4' placeholder="{{ aUser.signature }}">{{ aUser.signature }}</textarea>
                </div>
                <div class='form-group'>
                  <label class='control-label'>余额</label>
                  <p><strong>{{ aUser.user_money }}￥</strong>显示余额</p>
                  <a class='btn' id="recharge" onclick="recharge()">点击充值</a>
                </div>
                <div class='form-group'style=" margin:auto; width:100%; ">
                    <label class='control-label'>你的头像</label>
                    <img src="../{{ aUser.user_image }}">
                  <label class='control-label'>选择头像</label>
                    <div style=" width:32%;  float:left; margin-left:1%;">
                        <img src="../static/img/photo/facebook.png"><br>
                        <input type="radio" name="img" value="static/img/photo/facebook.png"">
                    </div>
                    <div style=" width:32%;   float:left; margin-left:1%;">
                        <img src="../static/img/photo/instagram.png"><br>
                        <input type="radio" name="img" value="static/img/photo/instagram.png">
                    </div>
                    <div style=" width:32%;  float:left; margin-left:1%;">
                        <img src="../static/img/photo/path.png"><br>
                        <input type="radio" name="img" value="static/img/photo/path.png">
                    </div>

                </div>
                <div class='form-group'>
                  <label class='control-label'>性别</label>
                  <div class='radio' >
                    <input checked name='gender' type='radio' value='男'>
                    男
                    <br>
                    <input checked name='gender' type='radio' value='女'>
                    女
                  </div>
                </div>
              </fieldset>

              <div class='form-actions'>
                <!-- <button class='btn btn-default' type='submit'>Submit</button> -->
                <button type="submit" >提交</button>
                <a class='btn' href='#'>取消</a>
              </div>
            </form>
          </div>
        </div>
		</div>


			</div>
		</div>

	<a id="toTop" style="display: inline;" href="#">
		<span id="toTopHover" style="opacity: 0;"></span>
	</a>
    <script>
        function recharge() {
            window.open("{% url 'my_reward:recharge' %}",'','status=1,width=600,height=300,toolbar=0,top=200,left=300,resizeable=no');
        }
        function getdata(data) {
             window.location.reload();
        }
    </script>
	<script src="../../static/assets/js/jquery.ui.totop.js" type="text/javascript"></script>
	</body>
</html>
