<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>查看个人信息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 引入 Bootstrap -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le styles -->
		<link href="../../static/assets/css/bootstrap.css" rel="stylesheet">
		<link href="../../static/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="../../static/assets/css/style.css" rel="stylesheet">
		<link href="../../static/assets/css/font-awesome.min.css" rel="stylesheet">
		<link href="../../static/assets/css/social.css" rel="stylesheet">
		<link href="../../static/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
		<link href="../../static/assets/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
		<link href="../../static/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
		<link href="../../static/assets/css/style.css" rel="stylesheet" id="colors"
	</head>

	<body>

		<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- 包括所有已编译的插件 -->
		<script src="../../static/js/bootstrap.min.js"></script>

		<!-- Navigation Bar -->
		<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">查看个人信息</a>
				</div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">
								<span class="glyphicon glyphicon-home">首页</span>
								<span class="sr-only">(current)</span>

							</a>
						<>
						<li><a href="#"><span class="glyphicon glyphicon-shopping-cart">充值</span></a><>
						<li><a href="#"><span class="glyphicon glyphicon-headphones">帮助</span></a><>
					</ul>
			        <form class="navbar-form navbar-left">
			         	<div class="form-group">
							<input type="text" class="form-control" placeholder="今天你脱发了吗？">
			        	</div>
			        	<button type="submit" class="btn btn-default">提问<tton>
			        </form>
			    </div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


		<div class="container bs-docs-container">
			        <div class='panel panel-default'>
          <div class='panel-heading'>
            <i class='icon-edit icon-large'></i>
            Form
          </div>
          <div class='panel-body'>
            <form>
                <fieldset>
	                <legend>查看个人信息</legend>
	                <div class='form-group'>
	                  	<strong>头像<>
	                  	<img class="img-circle" alt="用户头像" src="头像.jpg">
	                </div>
	                <div class='form-group'>
	                	<strong>昵称<>
	                	<label class='control-label'>{{ foo.user_name }}</label>

	                </div>
	                <div class='form-group'>
	                  	<strong>个性签名<>
	                  	<label class='control-label'>{{ foo.signature }}</label>
	                </div>
	                <div class='form-group'>
	                  	<strong>充值金额<>
{#	                  	<label class='control-label'>{{ foo.user_money }}</label>#}
	                  	<a class='btn' href="{% url 'modify_personal_info:Reward' foo.user_name 1 %}">充值一元</a>
                        <a class='btn' href="{% url 'modify_personal_info:Reward' foo.user_name 5 %}">充值五元</a>
                        <a class='btn' href="{% url 'modify_personal_info:Reward' foo.user_name 10 %}">充值十元</a>
	                </div>
	                <div class='form-group'>
	                	<strong>性别<>
	                	<label class='control-label'>{{ foo.gender }}</label>
	                </div>
{#	                <div class='form-group'>#}
{#	                	<strong>地址<>#}
{#	                	<label class='control-label'>国家+省/市+详细地址</label>#}
{#	                </div>#}
                </fieldset>
            </form>
          </div>
        </div>
		</div>


			</div>
		</div>

	<a id="toTop" style="display: inline;" href="#">
		<span id="toTopHover" style="opacity: 0;"></span>
	</a>

	<script src="../../static/assets/js/jquery.ui.totop.js" type="text/javascript"></script>
	</body>
<ml>